<h3 class="text-center my-3"><b><%= resource_name.to_s.humanize %>編集</b></h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="width50">
<table class="table border raised-box-shadow">
 <tr>
   <td>
    <%= f.label "アカウント画像" %>
   </td>
   <td>
   <% if resource.account_img? %>
    <%= image_tag resource.account_img.url, class: "icon100size mb-3", id: :account_img_prev %>
    <% else %>
    <%= image_tag "anonymous.jpg", class: "icon100size mb-3", id: :account_img_prev %>
    <% end %>
    <br><i><%= f.file_field :account_img, id: :account_img %></i>
  </td>
 </tr>
 <tr>
   <td><%= f.label "メールアドレス" %></td>
   <td>
   <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "mb-3" %>
   </td>
 </tr>
 <tr>
   <td>
  アカウント名<br>
   （英字15文字以内）
   </td>
   <td>
   <%= f.text_field :account_name, autofocus: true, autocomplete: "account_name",class: "mb-3" %>
  </div>
   </td>
 </tr>
 <tr>
   <td>
   <%= f.label "自己紹介" %>
   </td>
   <td>
   <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction",class: "mb-3" %>
   </td>
 </tr>
 <tr>
   <td>
   <%= f.label "居住地" %>
   </td>
   <td>
      <%= f.select :area_code, User.area_codes.keys, {prompt: '選択してください'},class: "mb-3" %>
   </td>
 </tr>
  <tr>
   <td>現在のパスワード<br>（更新用）</td>
   <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
 </tr>
 <tr>
   <td>
  <%= f.label "新しいパスワード" %> <br>(変更しない場合は空白)
   </td>
   <td>
   <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
   </td>
 </tr>
 <tr>
   <td>新しいパスワード<br>（確認用）</td>
   <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
 </tr>
 <tr>
   <td>     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<%= f.submit "更新", class: "btn btn-sm btn-primary" %></td>
   <td></td>
 </tr>
</table>

<% end %>



<div class="border p-3 mb-3 raised-box-shadow">
<p> <%= button_to "同意", registration_path(resource_name), data: { confirm: "この操作は取り消しできません。本当に退会しますか？" }, method: :delete, class: "btn btn-sm btn-danger float-right mr-5" %>アカウントを抹消しますか？</p>
</div>
<%= link_to "キャンセル", :back, class: "btn btn-outline-primary btn-sm mb-5" %>


</div>
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#account_img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#account_img").change(function(){
   readURL(this);
 });
});
</script>

