<div class="row">
  <div class="col-6 text-right p-4">
    <% if @user.account_img.present? %>
    <%= image_tag @user.account_img.url, class: "icon200size border" %>
    <% else%>
    <%= image_tag "anonymous.jpg", class: "icon200size border" %>
    <% end %>
  </div>
  <div class="col-6 pt-5">
    <h1>@<%= @user.account_name %></h1>
    <p><%= @user.area_code %></p>
    <p><%= @user.introduction %></p>
    <%= link_to "編集", edit_user_registration_path, class: " btn-sm btn-primary" if @user == current_user %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-sm btn-secondary ml-2" if @user == current_user %>
    <% unless current_user == nil %>
      <% unless current_user == @user %>
        <% if current_user&.following?(@user) %>
          <%= form_for(current_user&.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :follow_id, @user.id %>
            <%= f.submit 'Unfollow', class: 'btn btn-danger' %>
          <% end %>
        <% else %>
          <%= form_for(current_user&.relationships&.build) do |f| %>
            <%= hidden_field_tag :follow_id, @user.id %>
            <%= f.submit 'Follow', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<p>投稿</p>
<%= render 'posts/posts_index', posts: @posts.pablish %>
<% if current_user == @user %>
  <p>下書き</p>
  <%= render 'posts/posts_index', posts: @posts.draft %>
<% end %>
    <p>フォロー中</p>
    <% @following_user&.each do |user| %>
    <p><%= user.account_name %></p>
    <% end %>
    <p>フォロワー</p>
    <% @follower_user&.each do |user| %>
    <p><%= user.account_name %></p>
    <% end %>
    <p>お気に入り</p>
<p><%= link_to "戻る", users_path %></p>





