<p class="text-center my-3"><b>すべての投稿</b></p>
<div class="row">
    <% @posts.each do |post| %>
        <div class="text-center col-4 p-3 border">
                <%= link_to post_path(post.id) do %>
                    <%= image_tag post.before_img.url, class: "img200size over-img" if post.before_img.present? %>
                    <%= image_tag post.after_img.url, class: "img200size under-img" if post.after_img.present? %>
                <% end %>
                <p>
                    <%= link_to user_path(post.user_id) do %>
                        <% if User.find(post.user_id).account_img.present? %>
                            <p><%= image_tag(User.find(post.user_id).account_img.url, class: "icon50size") %>@<%= User.find(post.user_id).account_name %></p>
                        <% else %>
                            <p><%= image_tag "no-img.jpg", class: "icon50size" %>@<%= User.find(post.user_id).account_name %></p>
                        <% end %>
                    <% end %>
                </p>
                <p><%= post.title %></p>
                <p><%= post.time_quantity %><%= post.time_unit %></p>
                <p><%= link_to Category.find(post.category_id).name, category_path(post.category_id), class: "btn btn-sm btn-outline-primary" %></p>
                <p><%= post.owned_tag_id %></p>
        </div>
    <% end %>
</div>
