<h1>すべての投稿</h1>

<% @posts.each do |post| %>
<p>
    <%= link_to post_path(post.id) do %>
        <%= image_tag post.before_img.url, class: "img200size over-img" if post.before_img.present? %>
        <%= image_tag post.after_img.url, class: "img200size under-img" if post.after_img.present? %>
    <% end %>
    <%= post.user_id %>
    <%= post.title %>
    <%= post.caption %>
    <%= post.time_length %>
    <%= Category.find(post.category_id).name %>
    <%= post.owned_tag_id %>
</p>
<% end %>
<br>


