<div class="width80">
  <h1 class="text-center">新しい投稿</h1>

  <%= form_with model: @post, local: true do |f| %>
    <div class="row p-5">
      <div class="col-6 text-center">
        <p><%= image_tag "no-img.jpg", id: :before_img_prev, class: "img200size" %></p>
        <p>ビフォー</p><%= f.file_field :before_img, id: :before_img %>
      </div>
      <div class="col-6 text-center">
        <p><%= image_tag "no-img.jpg", id: :after_img_prev, class: "img200size" %></p>
        <p>アフター</p><%= f.file_field :after_img, id: :after_img %>
      </div>
    </div>
    <p>どれくらいかかった？→
    <%= f.select(:time_quantity, [*1..59]) %><%= f.select(:time_unit, ["年","ヵ月","日","時間","分","秒"]) %></p>
    <p>タイトル<%= f.text_field :title %></p>
    <p>説明文<%= f.text_field :caption %></p>
    <p>カテゴリ<%= f.select :category_id, Category.all.map{ |category| [category.name, category.id] } %></p>
    owned_tag_id<br>
    <%= f.submit "投稿する", name: "publish" %>
    <%= f.submit "下書きへ保存", name: "draft" %>
  <% end %>
</div>


<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#before_img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#before_img").change(function(){
   readURL(this);
 });
});
</script>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#after_img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#after_img").change(function(){
   readURL(this);
 });
});
</script>