<div class="width80">
  <h1 class="text-center">新しい投稿</h1>

  <%= form_with model: @post, local: true do |f| %>
    <div class="row p-5">
      <div class="col-6 text-center">
        <p><%= image_tag "no-img.jpg", id: :before_img_prev, class: "img200size" %></p>
        <p>ビフォー</p><%= f.file_field :before_img, id: :before_img %>
      </div>
      <div class="col-6 text-center">
        <p><%= image_tag "no-img.jpg", id: :after_img_prev, class: "img200size" %></p>
        <p>アフター</p><%= f.file_field :after_img, id: :after_img %>
      </div>
    </div>
    <p>単位を決める→<%= f.select(:unit, ["年","月","日","時","分","秒"]) %></p>
    <div style="height: 50px">
      <section id="年" style="position: absolute;">
        <p><%= f.date_select(:time_length, prompt:"--", :discard_month => true, :discard_day => true, start_year:1, end_year:50) %>年</p>
      </section>
      <section id="月" style="display: none; position: absolute;">
        <p><%= f.date_select(:time_length, prompt:"--", use_month_numbers:true, :discard_year => true, :discard_day => true) %>月</p>
      </section>
      <section id="日" style="display: none; position: absolute;">
        <p><%= f.select(:time_length, [*1..25], prompt:"--") %>日</p>
      </section>
      <section id="時" style="display: none; position: absolute;">
        <p><%= f.time_select(:time_length, prompt:"--", :discard_minute => true) %>時間</p>
      </section>
      <section id="分" style="display: none; position: absolute;">
        <p><%= f.time_select(:time_length, prompt:"--", :discard_hour => true) %>分</p>
      </section>
      <section id="秒" style="display: none; position: absolute;">
        <p><%= f.select(:time_length, [*1..59], prompt:"--") %>分</p>
      </section>
  </div>
    <p>タイトル<%= f.text_field :title %></p>
    <p>説明文<%= f.text_field :caption %></p>
    <p>カテゴリ<%= f.select :category_id, Category.all.map{ |category| [category.name, category.id] } %></p>
    owned_tag_id<br>
    <%= f.submit "投稿する", name: "publish" %>
    <%= f.submit "下書きへ保存", name: "draft" %>
  <% end %>

</div>


<script type="text/javascript">
$('select').change(function () {
  var val = $('select option:selected').val();
  if (val == 'select') return;
  $('section').fadeOut();
  $('section#' + val ).fadeIn();
});
</script>


<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#before_img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#before_img").change(function(){
   readURL(this);
 });
});
</script>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#after_img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#after_img").change(function(){
   readURL(this);
 });
});
</script>