<h1>posts/new</h1>

<%= form_with model: @post, local: true do |f| %>
    <p>ビフォー<%= f.attachment_field :before_img %></p>
    <p>アフター<%= f.attachment_field :after_img %></p>
    <p><%= f.datetime_select(:time_length, prompt:"--",use_month_numbers:true, start_year:1, end_year:20, date_separator:'/') %></p>
    <p>タイトル<%= f.text_field :title %></p>
    <p>説明文<%= f.text_field :caption %></p>
    <p>カテゴリ<%= f.select :category_id, Category.all.map{ |category| [category.name, category.id] } %></p>
    owned_tag_id<br>
    page_views<br>
    <%= f.submit "投稿する", name: "publish" %>
    <%= f.submit "下書きへ保存", name: "draft" %>
<% end %>
