<h1>posts/show</h1>
<p>
    <%= link_to post_path(@post.id) do %>
    <%= attachment_image_tag @post, :before_img, :fill, 100, 100, format: 'jpeg' %>
    <%= attachment_image_tag @post, :after_img, :fill, 100, 100, format: 'jpeg' %>
    <% end %>
    <%= @post.user_id %>
    <%= @post.title %>
    <%= @post.caption %>
    <%= @post.time_length %>
    <%= @post.category_id %>
    <%= @post.owned_tag_id %>
    <p>コメント一覧</p>
    <% if @post.user_id != current_user.id %>
        <%= form_with(model: [@post,@comment], local: true) do |f| %>
            <%= f.text_field :comment %>
            <%= f.submit %>
        <% end %>
    <% end %>
    <% @comments.each do |c| %>
        <p><%= c.user_id %><%= c.comment %><% if c.user_id == current_user.id %><%= link_to "削除", post_comment_path(c.id), method: :delete %><% end %></p>
    <% end %>
</p>
<%= link_to "削除", post_path(params[:id]), method: :delete  %>
<%= link_to "戻る", posts_path %>