<h1>posts/show</h1>
<p>
    <%= link_to post_path(@post.id) do %>
    <%= attachment_image_tag @post, :before_img, :fill, 100, 100, format: 'jpeg' %>
    <%= attachment_image_tag @post, :after_img, :fill, 100, 100, format: 'jpeg' %>
    <% end %>
    <%= @post.user_id %>
    <%= @post.title %>
    <%= @post.caption %>
    <%= @post.time_length %>
    <%= @post.category_id %>
    <%= @post.owned_tag_id %>
</p>
<%= link_to "削除", post_path(params[:id]), method: :delete  %>
<%= link_to "戻る", posts_path %>