<% if @category.ancestry.nil? %>
<p class="text-center my-3"><b>カテゴリー：<%= @category.name %></b></p>
<div class="text-center mb-3">
    <span>
        <% @category.children.each do |child| %>
        <%= link_to child.name, category_path(child.id), class: "btn btn-sm btn-outline-primary mx-1" %>
        <% end %>
    </span>
</div>
<% else %>
<p class="text-center my-3"><b>カテゴリー：　<%= link_to @category.parent.name, category_path(@category.parent.id) %>　＞　<%= @category.name %></b></p>
<% end %>
<%= render 'posts/posts_index', posts: @posts %>