<h3>カテゴリー：<%= @category.name %></h3>

<% @posts.each do |post| %>
<p>
    <%= link_to post_path(post.id) do %>
        <%= image_tag post.before_img.url, class: "img200size" if post.before_img.present? %>
        <%= image_tag post.after_img.url, class: "img200size" if post.after_img.present? %>
    <% end %>
    <%= post.user_id %>
    <%= post.title %>
    <%= post.caption %>
    <%= post.time_length %>
    <%= post.owned_tag_id %>
</p>
<% end %>
<br>


