<!DOCTYPE html>
<html>
  <head>
    <title>チェンジーズ！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
      <a class="navbar-brand" href="/posts">CHANGES!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "@#{current_user.account_name}", user_path(current_user.id), class: "nav-link" %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to (icon 'fas', 'user-friends'), users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">カテゴリー</a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
              <%= link_to "すべて", categories_path, class: "dropdown-item" %>
              <a class="dropdown-item" href="/categories/1">人</a>
              <a class="dropdown-item" href="/categories/6">ファッション</a>
              <a class="dropdown-item" href="/categories/11">建物</a>
              <a class="dropdown-item" href="/categories/15">乗り物</a>
              <a class="dropdown-item" href="/categories/19">その他</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-5 my-md-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to (icon 'far', 'edit', "投稿する"), new_post_path, class: "radius-btn btn-success mr-5" %>
            </li>
          </ul>
        </form>
      </div>
    </nav>
    <%= notice %>
    <%= alert %>
    <div class="container">
    <%= yield %>
    </div>
    <div class="height100 bg-dark text-light d-flex align-items-center">
    <p class="m-auto">Copyright ©2019 Chenges! All Rights Reserved.</p>
    </div>
  </body>
</html>


